@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap');

:root {
    --primary-font-color: #d1957d;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Thambi 2', cursive;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    padding: 20px;
}

body h1 {
    color: var(--primary-font-color);
}

.container {
    width: 90vw;
    max-width: 500px;
    background: #d1957d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
}

.menu-item-list {
    color: white;
    padding: 0px;
    width: 50%;
}

.menu-item-list li {
    list-style: none;
}

.menu-item-details {
    width: 50%;
}